.list-movie {
  margin-top: 1em;
  height: 22em;
  overflow-y: hidden;
  white-space: nowrap;  
}

div.left-top {
    position: absolute;
    color: #fff;
    background: #A21D0A;
    font-size: 15px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 0;
    top: 0;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

div.right-top {
    position: absolute;
    color: #ffffff;
    background:  #5CB3FF;
    font-size: 15px;
    font-weight: bold;
    float: right;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    right: 0;
    top: 0;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

.icon-film{
    border: 3px solid #73AD21;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
}

.movie-name {
position: absolute;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.4em;
    white-space: pre-wrap;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.image-movie {
  height: 20em;
}

.icon-film:hover .image-movie {
  opacity: 0.5;
  filter: alpha(opacity=100); /* For IE8 and earlier */  
}

.play-icon {
  display: none;
    position: absolute;
    margin: 0 auto;
    top: 35%;
    left: 35%;
    font-size: 5em;
}

.icon-film:hover .play-icon{
  display: block;
}

.main_title{
      padding: 0 0.5em;
    color: #fff;
    background-color: #337ab7;
    margin-left: 20px;
    margin-top: 30px;
    text-shadow: 1px 1px 2px #111;
    display : inline-block;
    border: 3px solid #73AD21;
    font-size: 2em;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

.found-false {
  display: none;
}

.hot-true {
  display: none;
}

.search-false {
  display: block;
}

.search-true {
  display: none;
}

.chat-bubble {
  background-color:#EDEDED;
  border:2px solid #666666;
  font-size:20px;
  line-height:1.3em;
  margin:10px auto;
  padding:10px;
  position:relative;
  text-align:left;
  width:700px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;
}
.chat-bubble-arrow-border {
  border-color: #666666 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-22px;
  left:30px;
}
.chat-bubble-arrow {
  border-color: #EDEDED transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:30px;
}