<link rel="stylesheet" href="/search/index.css">
<div class="search-{{isPlaying}}">

  <div class="hidden-xs col-sm-3">
    <div id="treeview-search">
</div>
  </div>

  <div class="col-sm-9">

  <div class="found-{{isFounded}}">
    <div class="main_title">
      Phim Lẻ
    </div>

    <div class="list-movie" data-query="each(movies)">
      <div class="icon-film">
        <a href="/play/{{id}}">
          <img class="image-movie" src="{{medium_cover_image}}"/>
          <span class="play-icon glyphicon glyphicon-play" aria-hidden="true"></span>
          <span class="movie-name">{{title}}</span>
        </a>

        <div class="left-top">
									10/20
        </div>

        <div class="right-top">
									Eng
        </div>
      </div>
    </div>

    <div class="main_title">
      Phim Bộ
    </div>

    <div class="list-movie" data-query="each(movies)">
      <div class="icon-film">
        <a href="/play/{{id}}">
          <img class="image-movie" src="{{medium_cover_image}}"/>
          <span class="play-icon glyphicon glyphicon-play" aria-hidden="true"></span>
          <span class="movie-name">{{title}}</span>
        </a>

        <div class="left-top">
									10/20
        </div>

        <div class="right-top">
									Eng
        </div>
      </div>
    </div>
    </div>
    
    <div class="hot-{{isFounded}}">
        <div class="chat-bubble">
	<H2 class="custom">Thật ngại quá :( </H2>
	<H2>Phim bạn cần tìm hiện chưa có trong hệ thống, trong thời gian chờ đợi bạn có thể xem qua các phim đang hot hiện tại.</H2>
	<h4>Tip1: Hãy kiểm tra lại từ khóa của bạn đã chính xác chưa.</h4>
	<h4>Tip2: Hãy tìm tên phim bằng tiếng anh để có kết quả chính xác hơn.</h4>
  <div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>
</div>

    <div class="main_title">
      Phim Đang Hot
    </div>

    <div class="list-movie" data-query="each(hot)">
      <div class="icon-film">
        <a href="/play/{{id}}">
          <img class="image-movie" src="{{medium_cover_image}}"/>
          <span class="play-icon glyphicon glyphicon-play" aria-hidden="true"></span>
          <span class="movie-name">{{title}}</span>
        </a>

        <div class="left-top">
									10/20
        </div>

        <div class="right-top">
									Eng
        </div>
      </div>
    </div>
    </div>
  </div>
  
</div>