@media (max-width: 1318px) {
    .main-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.fb-like {
    display: block !important;
}

.watched {
    background-color: lightgrey !important;
}

.play-container nav {
    text-align: center;
}

.fb-play {
    text-align: center
}

.more-play-true {
    display: none;
}

.more-play-false {
    display: block;
}

.floating-box {
    margin-top: 1em;
}

.floating-box::-webkit-scrollbar {
    display: none;
}

.intro div.info {
    float: left;
    margin-left: 0;
    width: 400px;
}

.floating-box h4 {
    text-align: center
}

.flims h3 {
    margin-top: 0 !important;
}

.flims {
    text-align: center;
}

.all-flim {
    overflow-x: hidden;
    margin-bottom: 2em;
}

@media (max-width: 767px) {
    .all-flim {
      height: 22em;
      overflow-y: hidden;
      white-space: nowrap;  
    }
}

.all-flim::-webkit-scrollbar {
    display: none;
}

.input-page a {
    padding: 0 !important;
}

.input-page input {
    width: 5.5em;
    text-align: center;
    padding: 0;
    padding-left: 1em;
    border: 0;
    border-radius: 0;
    height: 2.3em;
}

.input-page form {
    margin: 0;
}

.playerview-true {
  display: none !important;
}

.player-true {
    margin: 0 5%;
}

div.left-top {
    position: absolute;
    color: #fff;
    background: #A21D0A;
    font-size: 15px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 0;
    top: 0;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

div.right-top {
    position: absolute;
    color: #ffffff;
    background:  #5CB3FF;
    font-size: 15px;
    font-weight: bold;
    float: right;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    right: 0;
    top: 0;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

.icon-film{
    border: 3px solid #73AD21;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
}

.movie-name {
position: absolute;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.4em;
    white-space: pre-wrap;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.image-movie {
  height: 20em;
}

.icon-film:hover .image-movie {
  opacity: 0.5;
  filter: alpha(opacity=100); /* For IE8 and earlier */  
}

.play-icon {
  display: none;
    position: absolute;
    margin: 0 auto;
    top: 35%;
    left: 35%;
    font-size: 5em;
}

.icon-film:hover .play-icon{
  display: block;
}

.suggest_title{
    padding: 0 0.5em;
    color: #fff;
    background-color: #337ab7;
    text-shadow: 1px 1px 2px #111;
    display: inline-block;
    border: 3px solid #73AD21;
    font-size: 2em;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}
