<link rel="stylesheet" href="/play/index.css">

    <div class="play-container player-{{isPlaying}} playerview-{{isLoading}}">
        <div class="{{playerClass}}">
            <div data-query="view(Player)"></div>
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li><a class="watched" href="">1 <span class="sr-only">(current)</span></a></li>
                    <li><a class="watched" href="">2 <span class="sr-only">(current)</span></a></li>
                    <li><a class="watched" href="">3 <span class="sr-only">(current)</span></a></li>
                    <li><a class="watched" href="">4 <span class="sr-only">(current)</span></a></li>
                    <li class="input-page">
                        <a href="#">
                            <form data-query="submit(jumpFlim)">
                                <input class="form-control" type="number" value="5"></input><span class="sr-only">(current)</span>
                            </form>
                        </a>
                    </li>
                    <li><a href="">6 <span class="sr-only">(current)</span></a></li>
                    <li><a href="">7 <span class="sr-only">(current)</span></a></li>
                    <li><a href="">8 <span class="sr-only">(current)</span></a></li>
                    <li><a href="">9 <span class="sr-only">(current)</span></a></li>
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>

                </ul>
            </nav>
            <div class="more-play-{{isPlaying}}">
                <div class="fb-play">
                    <div id="fb-root"></div>
                    <div class="fb-like" data-href="{{domain}}/play/{{movieId}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                    <div class="fb-comments" data-href="{{domain}}/play/{{movieId}}" data-numposts="5"></div>
                </div>
            </div>
        </div>
        <div class="flims col-md-2 more-play-{{isPlaying}}">
                <div class="suggest_title">Phim liên quan</div>
            <div data-query="each(suggestions)" class="all-flim">
              <div class="icon-film floating-box">
                <a href="/play/{{id}}">
                  <img class="image-movie" src="{{medium_cover_image}}"/>
                  <span class="play-icon glyphicon glyphicon-play" aria-hidden="true"></span>
                  <span class="movie-name">{{title}}</span>
                </a>

                <div class="left-top">
                          10/20
                </div>

                <div class="right-top">
                          Eng
                </div>
              </div>                
            </div>
        </div>
    </div>