<link rel="stylesheet" href="/play/player/index.css">
<div id="player" data-query="on('mousemove', mouseMove)">
    <video id="video-player" data-query="on('loadeddata', videoHandle)
        .on('timeupdate', videoHandle)
        .on('seeked', videoHandle)
        .on('onmouseover', videoHandle)
        .on('click', videoHandle)
        .on('playing', videoHandle)
        .on('waiting', videoHandle)
        .on('ended', videoHandle)">
      <source src="https://f001.backblaze.com/b2api/v1/b2_download_file_by_id?fileId=4_zad030cec66ccda6159420616_f112b1b02a3755749_d20160526_m031840_c001_v0001026_t0043" type="video/mp4">
      <!--<source src="player/resrc/WhatCouldIDo.mp4" type="video/mp4">-->
      Your browser does not support the video tag.
    </video>
    <div class="subtitle subTop">{{subTop}}</div>
    <div class="subtitle subBottom">{{subBottom}}</div>

    <div id="test"></div>
    <span id="main-play" class="glyphicon glyphicon-play" aria-hidden="true"></span>

    <div class="control-bar control-show-{{isShowControl}}" data-query="click(clickControl)">
        <progress id="video-progress" data-query="click(clickProgress)" value="{{playTime}}" max="{{videoDuration}}"></progress>

        <span class="control-left">
        <span class="play-spinner {{isLoading}}">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </span>
        <span id="play" class="glyphicon player-{{isLoading}} play-{{isPlaying}}" aria-hidden="true"></span>
        <span id="sound" class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
        <span id="current-time">{{currentTime}}</span>
        </span>

        <span class="control-right">
        <span id="duration">{{duration}}</span>
        <span id="canlender" class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span id="sub" class="glyphicon glyphicon-subtitles" aria-hidden="true"></span>
        <span id="full" class="glyphicon full-{{isFullScreen}}" aria-hidden="true"></span>
        </span>
    </div>
    <div class="detail-{{isPlaying}}" data-query="view($root.Play.Detail).on('click', clickDetail)"></div>
</div>