#main-play {
    position: absolute;
    font-size: 10em;
    background-color: rgba(128, 128, 128, 0.4);
    color: white;
    border-style: solid;
    border-radius: 50%;
    border-color: rgba(128, 128, 128, 0.4);
    padding-top: 0.05em;
    padding-bottom: 0.1em;
    padding-left: 0.15em;
    padding-right: 0;
    display: none
}

#video-player {
    cursor: none;
    width: 100%;
    /*height: 80%;*/
}

#player {
    position: relative;
    text-align: center;
    width: 100%;
}

.control-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    color: white;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.4);
}

.control-show-true {
    height: 1.7em;
    padding: 0.2em;
    animation-name: show-control;
    animation-duration: 1s;
}

.control-show-false {
    height: 0;
    padding: 0;
    animation-name: hide-control;
    animation-duration: 1s;
}

.control-show-false #video-progress {
    display: none
}

@keyframes hide-control {
    from {
        height: 1.7em;
        padding: 0.2em;
    }
    to {
        height: 0;
        padding: 0;
    }
}

@keyframes show-control {
    from {
        height: 0;
        padding: 0;
    }
    to {
        height: 1.7em;
        padding: 0.2em;
    }
}

.control-bar span {
    padding-left: 0.3em;
    padding-right: 0.3em;
    cursor: pointer;
}

.control-right {
    position: absolute;
    top: 0.2em;
    right: 0;
}

.control-left {
    position: absolute;
    top: 0.2em;
    left: 0;
}

#video-progress {
    width: 100%;
    margin-top: 0.5em;
    height: 0.3em !important;
    padding-left: 8em;
    padding-right: 8em;
    background-color: rgba(255, 255, 255, 0) !important;
    cursor: pointer;
}

.subTop {
    top: 1em;
}

.subBottom {
    bottom: 2em;
}

#canlender {
    display: none
}

#sound-control {
    display: none;
    transform: rotate(-90deg);
    position: absolute;
    left: 0.5em;
    top: -3em;
    height: 0.5em;
    background-color: white;
    width: 5em;
}

#test video {
    width: 100%
}


.player-isLoading {
  width: 1.75em;
}

.player-isLoading::before {
    content: "" !important;
}

.play-true::before {
    content: "\e073";
}

.play-false::before {
    content: "\e072";
}

.full-true::before {
    content: "\e097";
}

.full-false::before {
    content: "\e096";
    font-size: 0.9em;
}

.subtitle {
    position: absolute;
    padding: 0 25px 0 25px;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    text-shadow: #000000 1px 1px 5px;
    left: 5%;
    right: 5%;
}

@media (max-width: 767px) {
  .subtitle {
    font-size: 1.5em
  }
}

.detail-true {
  display: none;
}

.detail-false {
  display: block;
}

.isLoading {
    display: block !important;
}

/*loading spin*/
.play-spinner {
    display: none;
    width: 1.2em;
    height: 1.2em;
    left: 0.5em;
    position: absolute;
    z-index: 10;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
/*loading spin*/