.icon-film{
    border: 3px solid #73AD21;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
}

.top-movie-list {
    padding: 15px;
}
.block-wrapper {
    position: relative;
    padding: 2px;
    background: #4F4E52 url(https://lh6.googleusercontent.com/-UA8qksbUtlU/VV82vPIegtI/AAAAAAAABjc/PeJ6tlgpiPs/w212-h70-no/item_bg.gif) repeat;
    border-bottom: 1px solid #868489;
    color: #ddd;
    height: auto;
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top-movie-list.block-wrapper > .list_carousel {
    max-height: 300px;
    overflow: hidden;
}

.list_carousel {
    width: 100%;
    position: relative;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.caroufredsel_wrapper {
    width: 100% !important;
}

.movie-carousel-top-item {
    width: 225px;
    height: 300px;
    position: relative;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.movie-carousel-top-item-meta {
    position: relative;
    display: none;

    bottom: 2px;
    background: rgba(0,0,0,0.8);
    padding: 5px;
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.movie-name {
position: absolute;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.4em;
    white-space: pre-wrap;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ribbon {
    position: absolute;
    color: #fff;
    background: #A21D0A;
    font-size: 11px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 2px;
    top: 5px;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list_carousel .prev, .list_carousel .next {
    top: 100px;
    position: absolute;
    padding: 30px 10px;
    background: rgba(0,0,0,0.6);
}

a {
    color: #46E1FF;
    text-decoration: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list_carousel .prev .arrow-icon.left {
    background: url(http://www.phimmoi.net/styles/vtlai/movie/img/image.png) no-repeat -2px -535px;
    height: 24px;
    width: 16px;
    display: block;
}

.main_title{
      padding: 0 0.5em;
    color: #fff;
    background-color: #337ab7;
    margin-left: 20px;
    margin-top: 30px;
    text-shadow: 1px 1px 2px #111;
    display : inline-block;
    border: 3px solid #73AD21;
    font-size: 2em;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

#yourImage {
 background-image: url('image1.jpg');
}


#yourImage:hover {
 background-image: url('overimage.jpg'), url('image1.jpg');
}

div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
} 

div.left-top {
    position: absolute;
    color: #fff;
    background: #A21D0A;
    font-size: 15px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 0;
    top: 0;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

div.right-top {
    position: absolute;
    color: #ffffff;
    background:  #5CB3FF;
    font-size: 15px;
    font-weight: bold;
    float: right;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    right: 0;
    top: 0;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

.movie-avatar {
    height: 378px !important;
    width: 100% !important;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.baner-item:hover .movie-avatar{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.list-movie {
  margin-top: 1em;
  height: 22em;
  overflow-y: hidden;
  white-space: nowrap;  
}

.image-movie {
  height: 20em;
}

.icon-film:hover .image-movie {
  opacity: 0.5;
  filter: alpha(opacity=100); /* For IE8 and earlier */  
}

.play-icon {
  display: none;
    position: absolute;
    margin: 0 auto;
    top: 35%;
    left: 35%;
    font-size: 5em;
}

.icon-film:hover .play-icon{
  display: block;
}

.home-false {
  display: block;
}

.home-true {
  display: none;
}