<link rel="stylesheet" href="/home/index.css"/>

<div class="home-{{isLoading}}">

  <div class="hidden-xs col-sm-3">
    <div data-query="view($root.Filters)"></div>
  </div>

  <div class="col-sm-9">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"/>
        <li data-target="#carousel-example-generic" data-slide-to="1"/>
        <li data-target="#carousel-example-generic" data-slide-to="2"/>
        <li data-target="#carousel-example-generic" data-slide-to="3"/>
        <li data-target="#carousel-example-generic" data-slide-to="4"/>
      </ol>

      <div data-query="each(top)" class="carousel-inner" role="listbox">
        <div class="baner-item item {{active}}">
          <a href="/play/{{id}}">
            <img class="movie-avatar" src="{{background_image_original}}"/>	
            <div class="carousel-caption">
              <h3>{{title}}</h3>
              <p>{{summary}}</p>
            </div>
          </a>

        </div>
      </div>

      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"/>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"/>
        <span class="sr-only">Next</span>
      </a>

    </div>

    <div class="main_title">
      Phim Mới Cập Nhật
    </div>

    <div class="list-movie" data-query="each(update)">
      <div class="icon-film">
        <a href="/play/{{id}}">
          <img class="image-movie" src="{{medium_cover_image}}"/>
          <span class="play-icon glyphicon glyphicon-play" aria-hidden="true"></span>
          <span class="movie-name">{{title}}</span>
        </a>

        <div class="left-top">
									10/20
        </div>

        <div class="right-top">
									Eng
        </div>
      </div>
    </div>

    <div class="main_title">
      Phim Đang Hot
    </div>

    <div class="list-movie" data-query="each(hot)">
      <div class="icon-film">
        <a href="/play/{{id}}">
          <img class="image-movie" src="{{medium_cover_image}}"/>
          <span class="play-icon glyphicon glyphicon-play" aria-hidden="true"></span>
          <span class="movie-name">{{title}}</span>
        </a>

        <div class="left-top">
									10/20
        </div>

        <div class="right-top">
									Eng
        </div>
      </div>
    </div>

  </div>

</div>