<link rel="stylesheet" href="/play/player/detail/index.css">
<div class="detail">
    <img src="{{movie().large_cover_image}}"></img>
    <div class="film-container">
		<div class="film-infor">
			<div class="alt1">
				Tên Phim:
				<font>{{movie().title_long}}</font>
			</div>
			<div class="alt1">
				Năm Phát Hành:
				<font>{{movie().year}}</font>
			</div>
			<div class="alt1">
				Đánh giá:
				<font>{{movie().rating}}</font>
			</div>
			<div class="alt1">
				Thể loại:
				<font>{{genre}}</font>
			</div>
			<div class="alt1">
				Ngôn ngữ:
				<font>{{movie().language}}</font>
			</div>
			<div class="alt1">
				Cập nhật:
				<font>{{movie().date_uploaded}}</font>
			</div>
			<div class="alt1">
			Nội dung:
			<font>{{movie().description_full}}</font>
			</div>
		</div>
		<div class="button-space">
			<button id="trailer" class="button trailer" data-toggle="modal" data-target=".bs-trailer-modal-lg">TRAILER</button>
			<button id="download" class="button download" value="{{torrent}}">DOWNLOAD</button>
		</div>
	</div>  
</div>

  <div id="trailerModal" class="modal fade bs-trailer-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="closeModal" aria-hidden="true">&times;</span></button>
      <h4 id="closeHeader" class="modal-title">{{movie().title_long}}</h4>
		  </div>
		  <div class="modal-body">
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{movie().yt_trailer_code}}" allowfullscreen></iframe>
</div>
		</div>
	  </div>
	</div>
</div>
