.detail {
    position: absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 60em;
}

@media (max-width: 768px) {
  .detail {
    width: 48em !important;
  }

  .film-container{
    height: 20em !important;
    overflow: auto;
  }

  .detail img {
      height: 10em !important;
  }
}

@media (max-width: 992px) {
  .detail {
    width: 56em !important;
  }

  .film-container{
    height: 25em !important;
    overflow: auto;
  }

  .detail img {
      height: 25em !important;
  }
}

.detail font {
    font-weight: 500
}

.detail img {
    height: 34em;
}

.alt1 {
    overflow: hidden;
    padding: 8px 8px;
    color: #666666;
    font-weight: bold;
	text-align: left;
}

.film-container{
	padding: 8px;
	margin-left: 20px;
	float: right;
	width: 500px;
	height: 34em;
	border: 2px solid #29293d;
  background-color: #fff;
}

.film-infor{	
	overflow: auto;	
	height: 29em;
}

.button-space{
	margin-top: 7px;
}

.button {
    position: relative;
    border: none;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.7em;
    padding: 0 1em;
    margin: 0 0.5em;
}

.button:after {
    content: "";
    background: #f1f1f1 !important;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.trailer {
  background-color: #7B0B0B;
}

.download {
  background-color: #0F540F;
}
