body {
    margin-top: 4.5em;
}

body > div {
  overflow: auto;
}

.text-muted {
color: #3376F5;
    margin-bottom: 0em;
    margin-top: 2em;
    padding: 1em;
    background-color: #C1BCB4;
    text-align: center;
}

.text-muted a:hover {
  text-decoration: none;
}