#fof{display:block; position:relative; width:100%; height:529px; background:url("/res/404.png") top center no-repeat; line-height:1.6em; text-align:center; margin-top: 10em;}
#fof .positioned{padding-top:45px;}
#fof .hgroup{margin-bottom:20px; text-transform:uppercase;}
#fof .hgroup h1{margin-bottom:0; font-size:160px; line-height:120px;}
#fof .hgroup h2{margin-bottom:0; font-size:60px;}
#fof p{display:block; margin:0 0 25px 0; padding:0; font-size:16px;}