<link rel="stylesheet" href="/error/index.css">
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="positioned">
        <div class="hgroup">
          <h1>!</h1>
          <h2>404<br>
            Error</h2>
        </div>
		<p>The Page You Requested Could Not Be Found</p>
        <p>Go <a href="javascript:history.go(-1)">Back</a> <strong>OR</strong> Visit <a href="/">Homepage</a></p>
      </div>
    </section>
  </div>
</div>