.navbar-form .glyphicon-search {
    font-size: 1.45em;
}

.login-true {
	display: none !important;
}

.user-false {
	display: none !important;
}

.navbar-right img {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    border: 0.1em;
    border-style: solid;
    bottom: 0.5em;
}

.navbar-right button {
    margin-right: 2em;
    margin-left: 1em;
}

#username {
    margin-left: 3em
}

@media (max-width: 767px) {
    .navbar-form {
        border-top: 0 !important;
        margin-top: 0 !important;
    }
    .navbar-right img {
        bottom: 0.3em;
    }
}

.navbar-brand {
    font-weight: bold;
	margin-left: 0em !important;
}

@media (min-width: 767px) {
    .navbar-form .input-group, .list-group-result {
        width: 30em;
        margin: 0 auto;
        display: table !important;
    }
    .navbar-form .form-group {
        position: fixed;
        width: 100%;
        padding-right: 20em;
        padding-left: 3em;
        display: block !important;
    }
    .navbar-form .input-group-btn {
        width: 1% !important;
    }
}

.navbar-form .list-group-result {
    padding-right: 3.3em;
}

.list-group-result .badge {
    position: absolute;
    right: 1em;
    top: 1em;
}

.list-group-result h4 {
    width: 14em;
    word-break: break-word;
    display: inline-block;
    margin-left: 0.3em;
}

.list-group-result img {
    height: 4em;
}

.list-group-result {
    margin-bottom: 0 !important;
}

.list-group-result > div {
    cursor: pointer;
}

.isFinding {
    display: block !important;
}

/*loading spin*/
.find-spinner {
    display: none;
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    z-index: 10;
    right: 4em;
    top: 0.35em;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.find-spinner .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.find-spinner .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
/*loading spin*/
.modal-title {text-align: center;}
.modal-body {padding: 0;}
.form{background:#1C2B4A;}
.form ul {padding: 0;}
.header{height:44px; background:#17233B}
.header h2{height:44px; line-height:44px; color:#fff; text-align:center}
.login{padding:0 20px; padding-top: 1em;}
.login span.un{width:10%; text-align:center; color:#0C6; border-radius:3px 0 0 3px}
.text{background:#12192C; width:90%; border-radius:0 3px 3px 0; border:none; outline:none; color:#999; font-family: 'Source Sans Pro', sans-serif} 
.text,.login span.un{display:inline-block; vertical-align:top; height:40px; line-height:40px; background:#12192C;}
.btn-login{height:40px; border:none; background:#0C6; width:100%; outline:none; font-family: 'Source Sans Pro', sans-serif; font-size:20px; font-weight:bold; color:#eee; border-bottom:solid 3px #093; border-radius:3px; cursor:pointer}
.login li{height:40px; margin:15px 0; list-style:none}
.span{display:table; width:100%; font-size:14px;}
.ch{display:inline-block; width:50%; color:#CCC}
.ch a{color:#CCC; text-decoration:none}
.ch:nth-child(2){text-align:right}
.fa {font-size: 1.2em; margin-top: 0.6em;}
/*social*/
.social{height:30px; line-height:30px; display:table; width:100%}
.social div{display:inline-block; width:42%; color:#eee; font-size:12px; text-align:center; border-radius:3px}
.social div i.fa{font-size:16px; line-height:30px}
.fb{background:#3B5A9A; border-bottom:solid 3px #036} .tw{background:#d73d32; margin-left:16%; border-bottom:solid 3px #8E2F28}
/*bottom*/
.sign{width:100%; padding:0 5%; height:50px; display:table; background:#17233B;}
.sign div{display:inline-block; width:50%; line-height:50px; color:#ccc; font-size:14px}
.up{text-align:right}
.up a{display:block; background:#096; text-align:center; height:35px; line-height:35px; width:50%; font-size:16px; text-decoration:none; color:#eee; border-bottom:solid 3px #006633; border-radius:3px; font-weight:bold; margin-left:50%}
@media(max-width:480px){ .form{width:100%}}