<link rel="stylesheet" href="/navbar/index.css">
<div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
				<a class="navbar-brand" href="/">torFlim</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div>
					<form data-query="submit(searchMovie)" class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<div class="input-group">
								<input value="{{filterValue}}" data-query="on('input', findingMovie)" type="text" class="form-control" placeholder="Search for...">
								<div class="find-spinner {{isFinding}}">
									<div class="dot1"></div>
									<div class="dot2"></div>
								</div>
								<span class="input-group-btn" title="Click or Enter for advanced search" >
								  <button class="btn btn-default" type="submit">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
								</span>
							</div>
							<div class="list-group-result" data-query="each(movies)">
								<div data-query="click($parent.selectMovie, id)" class="list-group-item">
									<img src="{{small_cover_image}}"></img>
									<h4 class="list-group-item-heading">{{title}}</h4>
									<span class="badge">{{year}}</span>
								</div>
							</div>
						</div>
					</form>
					<div>
						<ul class="nav navbar-nav navbar-right">
							<li class="login-{{isLogin}}">
								<button type="button" class="btn btn-default btn-info navbar-btn" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="_gaq.push(['_trackEvent', 'Acount Functions', 'click', 'Click on Sign Up Button In Home Page'])">Sign In</button>							
							</li>
	                        <li class="dropdown user-{{isLogin}}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<img src="/res/avatar.jpg"></img>
									<span id="username">Quang Trang</span>
									<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Favorite movie</a></li>
									<li><a href="#">Profile</a></li>
									<li><a href="#">Setting</a></li>
									<li role="separator" class="divider"></li>
									<li><a data-query="click(logout)">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div id="exampleModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Login to be a member of torFlim</h4>
		  </div>
		  <div class="modal-body">
			<div class="form" data-query="submit(login)">
				<div class="login">
				<form action="">
				<ul>
				<li>
				<span class="un"><span class="fa glyphicon glyphicon-user" aria-hidden="true"></span></span><input type="text" required class="text" placeholder="User Name Or Email"/></li>
				<li>
				<span class="un"><span class="fa glyphicon glyphicon-lock" aria-hidden="true"></span></span><input type="password" required class="text" placeholder="User Password"/></li>
				<li>
				<input type="submit" value="LOGIN" class="btn-login">
				</li>
				<li><div class="span"><span class="ch"><input type="checkbox" id="r"> <label for="r">Remember Me</label> </span> <span class="ch"><a href="#">Forgot Password?</a></span></div></li>
				</ul>
				</form>
				<div class="social">
				<a href="#"><div class="fb"><i class="fa fa-facebook-f"></i> &nbsp; Login With Facebook</div></a>
				<a href="#"><div class="tw"><i class="fa fa-twitter"></i> &nbsp;  Login With Google</div></a>
				</div>
				</div><br/>
				<div class="sign">
				<div class="need">Need new account?</div>
				<div class="up"><a href="">Sign Up</a></div>
				</div>
				</div>
		  </div>
		</div>
	  </div>
	</div>
</div>